div#pos{
	float:left;
	width:400px;
	height:173px;
	padding-top:30px;
}
div#pos1{
color:#252525;
font-family: Georgia;
}
div#pos2{
color:#6ea920;
font-family: Georgia;
}
div#pos3{
color:#4169E0;
font-family: Georgia;
}
